<div class="radio">
    <label>
        <input type="radio" value="1" name="roomType" [(ngModel)]="roomType" (change)="onSelectRoom()"> Delux Room
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" value="2" name="roomType" [(ngModel)]="roomType" (change)="onSelectRoom()"> Premium Room
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio" value="3" name="roomType" [(ngModel)]="roomType" (change)="onSelectRoom()"> Budget Room
    </label>
</div>